<!DOCTYPE html>
<html>
<head>
	<title>Ativity 1</title>
</head>
<body>

	<h1>Cats</h1>
	<a href="/cats/new"><button> Add New Cat </button></a>


	<%resultArray.forEach(function (result) {%>
		<h3><%=result.name%></h3>
		<h3><%=result.owner%></h3>
		<a href="/cats/<%=result._id%>"><button>Details</button></a>
	<%})%>
	
</body>
</html>